body {
    font-family: 'Lexend', sans-serif;
    font-family: 'Comfortaa', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Comfortaa', cursive;

    background-color: #473C33;
    background-color: #f28482;
    background-color: #84a59d;
    background-color: #f5cac3;
    background-color: #f6bd60;
    background-color: #f7ede2;

    button {
        background-color: transparent;
        border: 1px solid black;
        font-family: 'Bebas Neue', cursive;
        border-radius: 10px;
        font-size: 1.5rem;
        transition: 0.4s ease;

        &:hover {
            background-color: #84a59d;
        }

    }

    .container {
        display: flex;
        flex-wrap: wrap;
        width: auto;

        .openedCards{
            margin-left: auto;
        }

        &>* {
            background-color: transparent;
            font-family: 'Bebas Neue', cursive;
            font-size: 1.5rem;
            margin: 10px;
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .cardsContainer {

        display: flex;
        flex-wrap: wrap;

        .card {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
            width: 300px;
            min-height: 400px;
            display: flex;
            flex-direction: column;
            border-radius: 15px;

            img{
                height: auto;
                width: 100px;
            }

            &>* {
                margin: 5px;
            }

            .buttonsMenu{
               margin-top: auto;

            &>*{
                margin-top: 10px;
                width: 100%;
            }
            }
        }
    }


}