body {
    height: 100vh;
    margin: 0;
    background-color: rgb(34, 27, 44);
  }
  
  #floor,
  #ball {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  
  #floor {
    height: 50px;
    width: 500px;
    background-color: darkcyan;
    bottom: 0;
  }
  
  #ball {
    width: 100px;
    height: 100px;
    background-color: hotpink;
    border-radius: 50%;
    bottom: 40px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 2px 4px rgb(19, 19, 19);
  }
  