html {
  height: 100%;
  margin: 0;
}

body {

  font-family: 'Playfair Display', serif;
  background-color: #f9e4d3;
//   background-color: #f9f7f1;
  color: #000000;
  a {
    text-decoration: none;
    color: #000000;
  }
  li {
    list-style-type: none;
  }
  .nav {

    .secondaryHeader {
      display: none;
    }

    display: flex;
    background-color: #f9e4d3;

    .navMenu {
        text-decoration: none;
        background-color: #f9e4d3;
        width: 100%;
        display: block;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        padding-right: 40px;

      li {
        text-align: center;
        margin: 10px;
        text-decoration: none;

        a {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid #000000;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
    .navMenu-active {
      display: block;
    }

    .navMobile {
      display: flex;
      justify-content: space-between;

      .logo {
        background-color: #f35236;
        width: 40px;
        height: 40px;
        color: #f9e4d3;
        text-align: center;
        line-height: 40px;
        // border-radius: 5px;
        font-size: 1.8rem;
        margin: 5px;
        border: 1px solid black;
      }
    }
    .navMobile{
      .hamburger{
        display: none;
      }
    }
  }


  .container{
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid black;
    box-shadow:
    0 0 0 10px #f9e4d3,
    0 0 0 12px black;
    min-width: 260px;
    h2{
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;

        &>*{
            margin-top: 20px;
        }

        label{
            font-family: 'Playfair Display', serif;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 14px;
            // font-weight: normal;

        }

        input{
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid black;
            font-family: 'Playfair Display', serif;
            border-left: 1px solid black;

        }

        button{
            background-color: transparent;
            padding: 5px;
            font-family: 'Playfair Display', serif;
            border: 0;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
            margin-top: 60px;
            transition: 0.4s ease;
            
            &:hover{
                background-color: #fef4ec;
                border: 1px solid black;
            }
        }

        a{
            color: #000000;
        }

        
    }

  }

}